
html {   overflow-x: hidden;
  box-sizing: border-box;
 }

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img{
  max-width: 100%;
}
p {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: #F9F7F4;
}

.hidden {
  display: none;
}
h2{
  margin: 0;
}
h3{
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

:root {
  --black-color: #1B1F2B;
  --orange200-color: #EFA501;
  --orange100-color: #F8E6BE;
  --white-color:rgba(255, 255, 255, 1);
  --green-color300: #3B7E7B;
  --green-color400: #286562;
  --green-color200: #627F7E;
  --green-color100: #E0F0E5;
  --gray-color: #A6A6A6;
  --gray-color100: #F1F3F2;
  --gray-color200: #D9DFDB;
  --beige-color200: #F4F0E9;
  --beige-color100: #F9F7F4;

}
.flex{
  display: flex;
}
.container{
max-width: 1170px;
margin: 0 auto;
box-sizing: content-box;
margin-bottom: 135px;
padding: 0 53px;
}

.title__container{
  padding-top: 88px;
  margin-top: -88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 100px;
}
.section-title {
  font-size: 59px;
  font-weight: 700;
  line-height: 73.16px;
  text-align: center;
}

.section-descr {
  max-width: 400px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  text-align: center;
  color: var(--gray-color);
}
/*scroll */

.nav__list__scroll{
  display: flex;
  gap: 30px;
  font-weight: 400;
  color: var(--black-color);
  font-size: 20px;
}

.nav__item__tel-scroll{
  color: var(--black-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
}
.container-scroll{
  margin: 0;
  width: 100%;
  
}

.header-scroll{
  padding: 0 30px;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(5px);
  z-index: 9999;
  opacity: 0;
  transition: .3s ease-in-out;
}
.header-scroll.animate {
  opacity: 1;
  height: 88px;
  visibility: visible;
}

.nav__link_scroll{
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav__link_scroll::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  left: 50%;
  background-color: var(--black-color);
  transition: width 0.3s ease, left 0.3s ease;
}

.nav__link_scroll:hover::before {
  width: 100%;
  left: 0;
}
/* header */
.header{
  height: 0;
}

.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
}

.header-top  svg {
  max-width: 181.84px;
}

.nav__item__tel {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
}

.nav__list {
  display: flex;
  gap: 50px;
  font-weight: 400;
  line-height: 28.4px;
  color: var(--white-color);
  font-size: 20px;
}

.navigation__link{
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}
.navigation__link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  left: 50%;
  background-color: var(--white-color);
  transition: width 0.3s ease, left 0.3s ease;
}

.navigation__link:hover::before {
  width: 100%;
  left: 0;
}
/*main*/
.main__info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url(..//img/header-img.jpg);
 /* height: 100vh;*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 830px;
  margin-bottom: 137px;

}
.main__contain{
  display: flex;
  align-items: center;
  gap: 50px;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 95px;
  max-width: 1170px;
  padding: 0 53px;
}
.main__title {
  color: var(--white-color);
  font-size: 99px;
  font-weight: 700;
  line-height:104.64px;
  text-align: center;
  margin: 0;
}

.main__descr {  
  max-width: 562px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  text-align: center;
  color: var(--white-color);

}

.hero__wrapper {
  text-align: center;

}

.main__btn {
  padding: 5px 20px;
  font-size: 17px;
  font-weight: 400;
  line-height: 24.14px;
  border-radius: 10px;
  background-color: var(--white-color);
  transition: background 0.3s ease-in-out;
  
}

.main__btn:hover {
  background-color: var(--orange200-color);
  color: var(--white-color);
  transition: background 0.3s ease-in-out;
}

.main__btn:active {
  background-color: var(--orange100-color);
  color: var(--black-color);

}

/* choice */

.container-top{
  margin-bottom: 106px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-top: 88px;
  margin-top: -88px;
}
.choise__nav {
  justify-content: center;
  gap: 30px;
}

.choise__nav__item {
  font-size: 23px;
  font-weight: 700;
  line-height: 28.06px;
}
.choise__nav__link{
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
  padding-bottom: 5px;
  
}
.choise__nav__link-popular{
  padding-bottom: 5px;
  color: var(--orange200-color);
  border-bottom: 2px solid var(--orange200-color);
  cursor: pointer;
}
.choise__nav__link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -1px;
  left: 50%;
  background-color: var(--black-color);
  transition: width 0.3s ease, left 0.3s ease;
}

.choise__nav__link:hover::before {
  width: 100%;
  left: 0;
}

.choise__nav__link:focus::before  {
  color: var(--orange200-color);
  border-bottom: 2px solid var(--orange200-color);
  background-color: inherit;
 
}
.big__item:focus {

  color: var(--orange200-color);
}
.choise__nav__link:active::before  {
  outline: none;
  color: var(--orange200-color);
  border-bottom: 2px solid var(--orange200-color);
  background-color: inherit;
}
.choise__nav__link:active{
  color: var(--orange200-color);
}
.choice-list{
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}
.choice__item{
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50px;
}

.choice-img{
  overflow: hidden;
  position: absolute;
  z-index: -1;
  width: 370px;
  height: 531px;
  object-fit: cover;
  border-radius: 50px;
  filter: brightness(60%);
}
.choice__item:hover img {
  transform: scale(1.2);
}


.choice__item:hover .choise__info {
  
  background-color: var(--green-color400);
  transition: background 0.3s ease-in-out;
}
.choice__item:active .choise__info{

  background-color: var(--orange200-color);
  transition: background 0.3s ease-in-out;
}
.choice__item:focus .choise__info{

  background-color: var(--orange200-color);
  transition: background 0.3s ease-in-out;
}
.choise__name{
  margin-bottom: 16px;
  font-size: 35px;
  font-weight: 500;
  line-height: 42.7px;
  color: var(--white-color);
  padding-right: 30px;
}
.choise__prize{
  font-size: 17px;
  font-weight: 400;
  line-height: 24.14px;
  color: var(--white-color);
}

.choise__info {
  width: 200px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s   ease;
  border-radius: 50px;
  color: var(--white-color);
  font-size: 23px;
  font-weight: 700;
  line-height: 28.06px;
  padding: 7px 20px;

}
.info-container {
  padding: 50px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 531px;
  box-sizing: border-box;
  overflow: hidden;
}

/*collect*/

.form {
  background-color: var(--white-color);
  border-radius: 50px;
  padding:70px;
}

.form__name {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  margin-bottom: 7px;
}
.form__top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 33px;
  grid-column-gap: 30px;
  margin-bottom: 33px;
}
.form__list__item input{
  width: 100%;
}
.form__list__item select{
  width: 100%;
}
.form__input {
  box-sizing: border-box;
  width: 500px;
  height: 68px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--beige-color100);
  resize: none;
  outline: transparent;
  border: 1px;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
  background-color: var(--beige-color100);
  text-align: left;
}

.form__input:hover{
  background-color: var(--beige-color200);
  transition: background 0.3s ease-in-out;
}

.form__input:active {
  background-color: var(--beige-color200);
  color: var(--black-color);
  transition: background 0.3s ease-in-out;

}
.form__input:focus {
  background-color: var(--beige-color200);
  color: var(--black-color);
  outline: 1px solid #A6A6A6; 
  transition: background 0.3s ease-in-out;

}

.form__check {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: var(--gray-color);
  display: block;
}
input[type="date"] {
  position: relative;
  text-transform: uppercase;
  text-align:left;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  &:required:invalid::-webkit-datetime-edit {
    color:rgba(166, 166, 166, 1);
    }
    &:focus::-webkit-datetime-edit {
    color: black;
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

 
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cheket{
  color: var(--black-color);
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;

}
.cheket::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  left: 50%;
  background-color: var(--black-color);
  transition:  0.3s ease, left 0.3s ease;

}

.cheket:hover::before {
  width: 100%;
  left: 0;
}
.cheket:active::before {
  background-color: var(--green-color300);
}
.cheket:active{

  color: var(--green-color300);
}
::placeholder {
  text-align:left;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  color: var(--gray-color);
}
.form__input__text{
  box-sizing: border-box;
  resize: vertical;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  outline: transparent;
  width: 100%;
  min-height: 152px;
  padding: 10px ;
  border-radius: 10px;
  border: 1px;
  background-color: var(--beige-color100);
  cursor: pointer;
}

.form__input__text:hover {
  background-color: var(--beige-color200);
}
.form__input__text:focus{
  outline: 1px solid #A6A6A6;
}
.form__input__text:active {
  background-color: var(--beige-color200);
  color: var(--black-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
}

.form__item__comment{
  margin-bottom: 30px;
}
.form__radio {
  display: flex;
}
.form__select {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  resize: none;
  outline: transparent;
  width: 500px;
  height: 69px;
  padding: 20px 20px;
  border-radius: 10px;
  border: 1px;
  background-color: var(--beige-color100);
  transition: background 0.3s ease-in-out;
  cursor: pointer;

}
.form__select:hover{
  background-color: var(--beige-color200);
  transition: background 0.3s ease-in-out;
}
select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select:not([multiple]) {
  background-repeat: no-repeat;
  background-position: calc(100% - 1em) 1em;
  background-image: url(..//img/checklist.svg) ;
}

.n{
  color: var(--gray-color);
  resize: none;
  outline: none;
  width: 500px;
  height: 69px;
  padding: 20px;
  border-radius: 10px;
  border: 1px;
  background-color: var(--beige-color100);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;

}
.y{
  box-sizing: border-box;
  color: var(--black-color);
  resize: none;
  outline: none;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  border: 1px;
  background-color: var(--beige-color100);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.form__check__input{
  display: flex;
  margin-right: 31px;
  position: relative;
}
.check{
  display: flex;
  margin-bottom: 33px;
  gap: 19px;
}
.radio {
  appearance: none;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  border: 2px solid var(--black-color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.radio:checked:after{
  content: "";
  display: block;
  background-color: var(--black-color);
  width:10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  top: 6px;
  left: 6px;
  z-index: 2;
}
.checkbox {
  width: 26px;
  height: 26px;
  appearance: none;
  vertical-align: middle;
  border: 2px solid var(--black-color);
  border-radius: 5px;
  cursor: pointer;
}

.checkbox:checked {
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.radio__wrapper {
  margin-bottom: 33px;

}
 
.radio__name {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 8px;

}

.radio__qv {
  margin-left: 37px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;

}

.label {
  padding-right: 31px;
  padding-bottom: 33px;
  color: var(--black-color);
}

.btn__submit {
  background-color: var(--green-color400);
  padding: 15px 71px;
  border-radius: 10px;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-right: 26px;
  transition: background 0.3s ease-in-out;
}

.btn__submit:hover {
  background-color: var(--green-color300);
  transition: background 0.3s ease-in-out;
}

.btn__submit:active {
  background-color: var(--green-color200);
  transition: background 0.3s ease-in-out;
}

.btn__off {
  background-color: var(--green-color100);
  padding: 15px 73px;
  border-radius: 10px;
  color: var(--green-color400);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  transition: background 0.3s ease-in-out;
}

.btn__off:hover {
  background-color: var(--gray-color100);
  transition: background 0.3s ease-in-out;
}

.btn__off:active {
  background-color: var(--gray-color200);
  transition: background 0.3s ease-in-out;
}

/*reviews*/

.clients__item {
  background-color: var(--beige-color200);
  border-radius: 50px;
  padding: 40px;
  position: relative;
}
.clients__info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user__container{
  max-width: 490px;
  min-height: 593px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user__name {
  display: flex;
  flex-direction: column;
  gap:10px;
}
.clients__name {
  font-size: 35px;
  font-weight: 500;
  line-height: 43px;
  text-align: left;
}

.clients__post {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: var(--gray-color);
  text-align: left;
}
.clients__list {
  display: flex;
  gap: 30px;
}

.clients__item__descr {
  padding: 0;
  margin: 0;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;

}
.clients-avatar img {
  width: 100%;
  border-radius: 100%;
}

.clients-avatar {
  width: 75px;
}

/* photo*/
.photo__container{
  margin: 0 20px 132px 20px;
  
}

.big__item img {
  border-radius: 50px;
  width: 443px;
  height: 301px;
  object-fit: cover;
}

.small__item img {
  border-radius: 50px;
  width: 347.32px;
  height: 301px;
  object-fit: cover;
}
.big__list {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  gap: 30px;
}
.small__list {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  gap: 30px;

}

/*history*/
.history__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.history__item{
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50px;
}
.history-img{
  z-index: -1;
  position: absolute;
  width: 1170px;
  height: 567px;
  object-fit: cover;
  border-radius: 50px;
  filter: brightness(70%);
}
.img__container{
  height: 567px;
  padding: 60px;
  padding-bottom: 46px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
}

.history__top {
  display: flex;
  flex-direction: column;
}
.history__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.history__item__title {
  margin-bottom: 37px;
  font-size: 35px;
  font-weight: 500;
  line-height: 43px;
  text-align: left;
  color: var(--white-color);
}

.history__text {
  margin-bottom: 27px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: var(--white-color);
  padding-right: 210px;
}

.social_list{
  display: flex;
  align-items: center;
  gap: 35px;
}

.history__item:hover img {
  transform: scale(1.2);
}


.img__container:hover .history__info {
  background-color: var(--green-color400);
  transition: background 0.3s ease-in-out;
}
.img__container:active .history__info{

  background-color: var(--orange200-color);
  transition: background 0.3s ease-in-out;
}
.img__container:focus .history__info {
  background-color: var(--orange200-color);
  transition: background 0.3s ease-in-out;
}


.social-element a {
  color: var(--white-color);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  position: relative;
}

.social-element a:focus::before{
  background-color:var(--orange200-color);
}
.social-element a:focus{
  color: var(--orange200-color);
}
.social-element a:active{
  color: var(--orange200-color);
}
.social-element a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  left: 50%;
  background-color: var(--white-color);
  transition:  0.3s ease, left 0.3s ease;
}
.social-element a:hover::before {
  width: 100%;
  left: 0;
}

.stambul__list {
  text-align: left;
  padding: 0;
  padding-left: 29px;
 
}

.stambul__item {
  color: var(--white-color);
  list-style-type: disc;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;

}


.history__info {
  display: flex;
  gap: 16px;
  background-color:transparent;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 23px;
  font-weight: 700;
  line-height: 28.06px;
  color: var(--white-color);
  padding: 7px 20px;
}

/*lets-do*/
.lets-go__photo img {
  width: 370px;
  border-radius: 50px;
}
.lets-go-list {
  display: flex;
  align-items: center;
  gap : 30px;
  justify-content: center;
}
.lets-go__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 22px;
}
.lets-go__title {
  font-size: 35px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  padding: 0;

}

.lets-go__descr {
  white-space: nowrap;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: var(--gray-color);
  text-align: left;
}

.lets-go__descr a {
  color: var(--black-color);
  text-align: left;
}
/*footer */


.footer__bottom {
  background-color: var(--beige-color200);
  padding: 30px;
  width: 100%;

}
.footer__back{
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}
.footer__bottum__item {
  color: var(--gray-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
  text-align: left;
}
.footer__list{
  display: flex;
  gap: 26px;
}

.footer__item {
  display: flex;
  gap: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.4px;
}
.footer__item:hover a::before {
  width: 100%;
  left: 0;
}
.footer__item__icon svg {
 width: 26px;
 height: 26px;
}
.social-footer a  {
  color: var(--black-color);
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}


.social-footer a:hover::before  {
  width: 100%;
  left: 0;
}
.social-footer a:focus::before {
  background-color:var(--black-color);
}

.social-footer a::before  {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  left: 50%;
  background-color: var(--black-color);
  transition: width 0.3s ease, left 0.3s ease;
}
